cache/
notebooks/
data/cochlear_processing_validation_data
data/dataset_clean
data/dataset_labeled_by_folder
data/datasets
data/old_datasets
data/old_raw_audios
data/quantization
data/txt_datasets/
data/m4a_raw_audios/
data/Data-CVSDEncoded_highercutoff/
trainers/kapre
trainers/main/models/old
scripts/dataset_generation/tests/test_files
cuda/
.DS_Store
__pycache__/