cache/
notebooks/


data/
old/
# data/cochlear_processing_validation_data
# data/dataset_clean
# data/dataset_labeled_by_folder
# data/datasets
# data/old_datasets
# data/old_raw_audios
# data/quantization
# data/txt_datasets/
# data/m4a_raw_audios/
# data/Data-CVSDEncoded_highercutoff/
# # added November 22nd
# data/PCV_SEGMENTED_Processed_CryRemoved_Files/
# /data/PCV_SEGMENTED_Simple_Filter/
# /data/raw_audios/Bangladesh_sounds_speech_removed_2/


trainers/kapre
trainers/main/models/old
trainers/main/job_outputs

scripts/dataset_generation/tests/test_files
cuda/
.DS_Store
__pycache__/